/**
 * Stack Overflow Clone
 * © 2025 Puneet Gopinath. All rights reserved.
 * Filename: src/client/index.css
 * License: MIT (see LICENSE)
*/

* {
    box-sizing: border-box;
}

:root {
    --bg: #f8f9f9;
    --time-ago-color: #616a73;
}

main {
    padding: 0 1em;
}

.question {
    padding: 1em;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 1em;
}

.add-comment {
    border: none;
    border-radius: 8px;
    padding: 0.5em 1em;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.add-comment:hover {
    background-color: #0056b3;
}

.comments {
    list-style-type: none;
    padding: 0;
}

.comment {
    padding: 0.25em 1em;
    background-color: aliceblue;
    border-radius: 8px;
    margin: 0.5em 0;
}

.time-ago {
    color: var(--time-ago-color);
    font-size: 0.9em;
}